<div class="mui-col-md-4">
  <div class="mui-panel">
    <iframe src="https://ghbtns.com/github-btn.html?user=brijeshb42&repo=legoblocks&type=star&count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=brijeshb42&repo=legoblocks&type=fork&count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
    <div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="LegoBlocks - A block based rich text editor" data-via="brijeshb42" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <h2>Explore</h2>
    <ul class="about-links">
        <li><a href="{{site.url}}/demo.html" class="mui-btn">Demo</a></li>
        <li><a href="{{site.url}}/docs.html" class="mui-btn">Docs</a></li>
    </ul>
    <h2>Links</h2>
    <ul class="about-links">
        {% if site.links.github %}
            <li><a href="https://github.com/{{ site.links.github }}" target="_blank" class="mui-btn"><i class="fa fa-github"></i>Github</a></li>
        {% endif %}
        {% if site.links.twitter %}
            <li><a href="https://twitter.com/{{ site.links.twitter }}" target="_blank" class="mui-btn "><i class="fa fa-twitter"></i>Twitter</a></li>
        {% endif %}
        {% if site.links.facebook %}
            <li><a href="https://www.facebook.com/{{ site.links.facebook }}" target="_blank" class="mui-btn"><i class="fa fa-facebook"></i>Facebook</a></li>
        {% endif %}
        {% if site.links.email %}
            <li><a href="mailto:{{ site.links.email }}" class="mui-btn"><i class="fa fa-envelope"></i>Mail</a></li>
        {% endif %}
            <li><a href="/" class="mui-btn"><i class="fa fa-home"></i>Home</a></li>
    </ul>
  </div>
</div>
