body {
    font-size: 16px;
    padding-top: 40px;
}

.github-fork-ribbon:before {
    background-color: #090;
}
.editor-action {
    bottom: 5px;
    top: auto;
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    background: #eee;
    z-index: 100;
    color: #555;
    font-family: Hoefler Text,Georgia,serif;
    font-size: 1.2em;
}

a {
    color: #08c;
}

.menu h2 {
    margin: 0;
}

#editor-content {
    max-width: 600px;
    margin: 0 auto;
}

button {
    background: none;
    border: none;
    background-color: #eee;
    border-color: 1px solid #ccc;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}


.katap-toolbar /*,.katap-control-toolbar*/ {
    button {
        background: none;
        background-color: #eee;
        color: #222;
        cursor: pointer;
        border: 1px solid #ccc;
        margin-right: 4px;
        margin-bottom: 2px;
        font-size: 0.8em;

        &:hover {
            border-color: #08c;
            color: #08c;
        }

        &:focus {
            outline: none;
        }

        &:first-child {
            background-color: #eee;
            border: 1px solid #ccc;
            color: #222;
        }
    }
}

.katap-block {
    .katap-splitter {
        font-size: 0.7em;
    }
    .katap-medium-editor {
        margin-top: 10px;
    }
}

.medium-editor-placeholder:after {
    font-style: normal;
    color: #eee;
    margin: 0;
}
